---
layout: default
category: 'en'
---

<header>
  <nav>
    <h1>{{site.title}}</h1>
    {% for markdown in site.categories[page.category] %}
    <a id="n-{{markdown.title | downcase}}" href="#{{markdown.title | downcase}}">{{ markdown.title }}</a>
    {% endfor %}
    <a id="n-about" href="#about">About</a>
  </nav>
</header>

<div role="main">
  {% for markdown in site.categories[page.category] %}
    <section>
      <span class="marker" id="{{markdown.title | downcase }}"></span><h1>{{ markdown.title }}</h1>
      {{ markdown.description | markdownify }}

      <div class="examples">
        <div class="col-3 source">
          <label>Markdown</label>
          <div class="col-inner">
            <pre>
{{ markdown.content }}
            </pre>
          </div>
        </div>

        <div class="col-3 html">
          <label>HTML</label>
          <div class="col-inner">
            <pre>
{{ markdown.content | markdownify | escape }}
            </pre>
          </div>
        </div>

        <div class="col-3 output">
          <label>Output</label>
          <div class="col-inner">
            {{ markdown.content | markdownify }}
          </div>
        </div>
      </div>
    </section>
  {% endfor %}

  <section>
    <span class="marker" id="about"></span><h1>About</h1>
    {% capture about_content %}{% include about.md %}{% endcapture %}
    {{ about_content | markdownify }}
  </section>
</div>
