@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300italic,700italic,300,700);

body {padding:0; margin:0; font:20px/2.25 Fira Sans, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#444; background:#fff; font-weight:300;}
body>* {box-sizing:border-box;}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, dl {margin:0 0 .4em; font-weight:300;}
[role="main"] {padding:30px 15px; max-width:1060px; margin:0 auto; width:auto;}

h1 {font-size:1.4em; color:#000;}

header {position:fixed; left:0; top:0; background:rgba(0,0,0,.6); z-index:2; width:100%; padding:.4em 0;}
header nav {margin:0 auto; max-width:1030px; height:1.2em; padding:0 15px;}
header a,
header h1 {color:#fff; font-size:13px; display:inline; padding:0; line-height:1; vertical-align:text-top;}
header a {color:#ccc; text-transform:uppercase; font-weight:300; padding:2px 4px;}
header a:hover,
header a.on {background:#fff; color:#000;}

p {line-height:1.4; padding-bottom:1em; max-width:900px;}
h1,
h2 {clear:left; font-weight:300; padding-top:.5em;}
br {clear:left;}
code {background:#dfedfc; font-size:.9em; padding:2px; white-space:pre-wrap;}
pre {background:#dfedfc;}
a {text-decoration:none; color:#7ac;}
a:hover {color:#c77;}

p code {border-bottom:1px solid #c7e0fb;}

.marker {display:block; float:left; clear:left; margin-top:-2em; height:1em; width:1em;}

.examples {display:table; width:100%;}
.col-3 {width:33%; display:table-cell; vertical-align:top; padding:.6em; background:#dfedfc; border:5px solid #fff;}
.col-3 label {font-size:14px; font-weight:700; color:rgba(0,0,0,.2); width:100%; display:block; text-transform:uppercase; line-height:1; text-align:right;}
.col-inner {padding:.4em; max-width:100%; overflow:scroll;}
.col-3.output {background-color:rgba(223,237,251, .2);}

.col-inner {font-style:normal; line-height:1.2; margin:0; padding:0;}
.col-inner h1,
.col-inner h2,
.col-inner h3 {padding:0.2em 0; margin:0; line-height:1.2;}
.col-inner h1 {font-size:2em; font-weight:300;}
.col-inner h2 {font-size:1.5em; font-weight:300;}
.col-inner h3 {font-size:1.2em; font-weight:300;}
.col-inner p,
.col-inner li {line-height:1.2;}
.col-inner p strong {font-weight:700;}
.col-inner ol,
.col-inner ul {padding-left:2em; padding-bottom:1em;}
.col-inner pre {font-size:.7em; line-height:1.2; font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal; overflow:scroll; background-color:transparent; white-space:pre-wrap; max-width:330px;}
.col-inner code {line-height:1.2;}
img {max-width:100%;}

@media screen and (max-width: 800px) {
  header {background:rgba(0,0,0,.8); position:relative; padding:1em 0;}
  header nav {height:auto; width:auto;}
  header h1,
  header a {display:block; padding:.6em 1em; font-size:15px; border-bottom:1px solid rgba(255,255,255,.05);}
  header a:last-child {border-bottom:0 none;}
  header h1 {font-size:19px;}
  .examples {margin:0 -17px;}
  p {padding-bottom:2em;}
  .col-3 {display:block; width:100%;}
}
